.footer {
    background: url(.png);
    padding: 30px 0;
}

.footer_menu,
.phone {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer_menu2 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__box_chilled {
    display: flex;
    align-items: center;
    column-gap: 110px;
}

.twiter,
.telegram,
.mail {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer__box_chilled2 {
    display: flex;
    column-gap: 112px;
}

.platform {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.registr2 {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    transition: .2s;
}

.item:hover {
    color: blue;
    transform: scale(1.1);
    text-decoration-line: underline;
}

.platform {
    display: block;
}

.platform2 {
    display: none;
}

.mail {
    display: block;
}

.mail2 {
    display: none;
}

.menu_footer {
    display: none;
}

@media(max-width:900px) {
    .footer__box_chilled2 {
        display: flex;
        column-gap: 40px;
    }
    .footer__box_chilled {
        display: flex;
        column-gap: 40px;
    }
}

@media(max-width:660px) {
    .mail {
        display: none;
    }
    .mail2 {
        display: block;
    }
    .platform {
        display: none;
    }
    .platform2 {
        display: block;
    }
    .menu_footer {
        display: block;
    }
    .footer_menu {
        display: none;
    }
    .footer_box {
        flex-direction: column;
        row-gap: 15px;
    }
    .platform2 {
        margin-bottom: 65px;
    }
    .footer__box_chilled2 {
        display: flex;
        column-gap: 94px;
    }
    .mail2 {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
}