.section_box {
    margin-top: 263px;
}

.section_videos {
    padding-top: 90px;
}

.section_title {
    display: flex;
    justify-content: space-between;
}

.section_title_chilled {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
    transition: .2s;
}

.section_title_chilled:hover {
    transform: scale(1.1);
    -webkit-text-stroke: 1px #00ccff;
    transform: translateY(-5px);
    cursor: pointer;
}

.section_title_chilled2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #282828;
    transition: .2s;
}

.life {
    background-image: url(../images/horsegirl.png);
    max-width: 360px;
    min-height: 497px;
    background-size: cover;
    padding: 211px 18px 20px 18px;
    transition: .2s;
}

.life:hover {
    transform: translateY(-20px);
}

.life2 {
    background-image: url(../images/girl.png);
    max-width: 360px;
    min-height: 497px;
    background-size: cover;
    padding: 211px 18px 20px 18px;
    transition: .2s;
}

.life2:hover {
    transform: translateY(-20px);
}

.life3 {
    background-image: url(../images/world.png);
    max-width: 360px;
    min-height: 497px;
    background-size: cover;
    padding: 211px 18px 20px 18px;
    transition: .2s;
}

.life3:hover {
    transform: translateY(-20px);
}

.life_span {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding-top: 10px;
    transition: .2s;
    cursor: pointer;
}

.life_span:hover {
    transform: scale(1.2);
    color: #e3d621;
}

.life_title:hover {
    color: #0499DD;
}

.life_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
    padding-top: 2px;
    cursor: pointer;
    transition: .2s;
}

.life_text:hover {
    color: #878484fa;
}

.life_text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .3s;
    cursor: pointer;
}

.section_videos {
    display: flex;
    column-gap: 20px;
}

.section__life_box {
    transition: .2s;
}

.section__life_box:hover {
    box-shadow: rgba(0, 0, 0, 0.607) 0px 22px 70px 4px;
}

.section_title_chilled2:hover {
    cursor: pointer;
    -webkit-text-stroke: 1px #00ccff;
    color: #0499DD;
    transform: scale(1.1);
}

@media (max-width:768px) {
    .section_title_chilled2 {
        display: none;
    }
}